<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="signingConfig" type="AsyncRircGisServiceTests.Gis.Configurations.Sections.SigningConfiguration, AsyncRircGisServiceTests"/>
    <section name="GisServicesConfig" type="AsyncRircGisServiceTests.Gis.Configurations.Sections.GisServiceConfiguration, AsyncRircGisServiceTests"/>
    <section name="Sender" type="AsyncRircGisServiceTests.Gis.Configurations.Sections.SenderConfiguration, AsyncRircGisService"/>    
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <Sender SendTo="test@mail.ru" />
  <signingConfig CertificateThumbprint="0FC21AD8F0CE100EF455185A12C5DF811057D652" CertificatePassword=""/>
  <GisServicesConfig RIRCorgPPAGUID="212923e3-5a56-44ac-a0b2-43c24f5814ac" BaseUrl="http://127.0.0.1:8080/" SchemaVersion="9.0.2.1" IsTest ="true" Login="test" Password ="****">
    <SoapConfiguration SoapTemplate="./Templates/soap-template.xml" ISRequestHeaderTemplate="./Templates/is-request-header-template.xml" RequestHeaderTemplate="./Templates/request-header-template.xml"/>
    <Services>
      <Service ServiceName="NsiCommonAsync" Path="ext-bus-nsi-common-service/services/NsiCommonAsync" RIRCAddOrgPPAGUID="false" AddSignature="true">
        <Methods>
          <Method MethodName="exportNsiList" Action="urn:exportNsiList" RequiredBody="false" Template="./Templates/NsiCommonAsync/export-nsi-list-template.xml"/>
          <Method MethodName="exportNsiItem" Action="urn:exportNsiItem" Template="./Templates/NsiCommonAsync/export-nsi-item-template.xml"/>
          <Method MethodName="getState" Action="urn:getState" Template="./Templates/NsiCommonAsync/get-state-template.xml"/>
        </Methods>
      </Service>
      <Service ServiceName="NsiAsync" Path="ext-bus-nsi-service/services/NsiAsync" RIRCAddOrgPPAGUID="true" AddSignature="true">
        <Methods>
          <Method MethodName="importMunicipalServices" Action="urn:importMunicipalServices" Template="./Templates/NsiAsync/import-municipal-services-template.xml"></Method>
          <Method MethodName="getState" Action="urn:getState" Template="./Templates/NsiAsync/get-state-template.xml"></Method>
        </Methods>
      </Service>
      <Service ServiceName="Inspection" Path="ext-bus-inspection-service/services/InspectionAsync" RIRCAddOrgPPAGUID="true" AddSignature="true">
        <Methods>
          <Method MethodName="importInspectionPlan" Action="urn:importInspectionPlan" Template="./Templates/Inspection/import-inspection-plan-template.xml"></Method>
          <Method MethodName="getState" Action="urn:getState" Template="./Templates/Inspection/get-state-template.xml"></Method>
        </Methods>
      </Service>
      <Service ServiceName="OrgRegistryCommonAsync" Path="ext-bus-org-registry-common-service/services/OrgRegistryCommonAsync" RIRCAddOrgPPAGUID="false" AddSignature="true">
        <Methods>
          <Method MethodName="getState" Action="urn:getState" Template="./Templates/OrgRegistryCommonAsync/get-state-template.xml"></Method>
          <Method MethodName="exportDataProvider" Action="urn:exportDataProvider" RequiredBody="false" Template="./Templates/OrgRegistryCommonAsync/exportDataProviderRequest-template.xml"></Method>
          <Method MethodName="exportOrgRegistry" Action="urn:exportOrgRegistry" RequiredBody="false" Template="./Templates/OrgRegistryCommonAsync/exportOrgRegistry-template.xml"></Method>
        </Methods>
      </Service>
    </Services>
  </GisServicesConfig>
</configuration>
